:root {
    --bright-white: #e8e8e8;
    --dim-white   : #bfbfbf;
    --color-one   : hsl(000, 65%, 40%);
    --color-two   : hsl(030, 75%, 50%);
    --color-three : hsl(060, 75%, 50%);
    --color-four  : hsl(240, 40%, 50%);
    --color-five  : hsl(300, 75%, 05%);
    --color-six   : hsl(300, 75%, 10%);
    --color-seven : hsl(300, 35%, 20%);
    --color-eight : hsl(175, 45%, 50%);
}

html,
body {
    font-family: 'Mouse Memoirs', cursive;
    display    : flex;
    flex-grow  : 1;
    min-height : 100%;
    margin     : 0;
    overflow-x : hidden;
}

#root {
    background-image: linear-gradient(-100deg, var(--color-seven), var(--color-six));
    flex-grow       : 1;
    display         : flex;
    max-width       : 100%;
}

.link {
    text-decoration: none;
    color          : var(--bright-white);
    font-family    : sans-serif;

    &:hover {
        color: var(--color-three);
    }
}

.button {
    background-color: var(--color-four);
    background-image: linear-gradient(-25deg, #000000bf, #00000000);
    border          : none;
    border-radius   : 8px;
    box-shadow      : 0 0 1px 0 var(--color-six);
    color           : var(--bright-white);
    cursor          : pointer;
    display         : flex;
    font-family     : 'Fredoka One', cursive;
    outline         : none;
    text-align      : center;

    &:hover {
        box-shadow: 0 0 4px 0 var(--color-six);
    }

    &:active {
        box-shadow: 0 0 4px 0 var(--color-six) inset;
    }

    &:disabled {
        background-color: var(--dim-white) !important;
        cursor          : no-drop;
    }
}

.input {
    background-color: transparent;
    border          : 1px solid var(--dim-white);
    border-radius   : 8px;
    color           : var(--bright-white);
    font-family     : 'Fredoka One', cursive;
    outline         : none;

    &:focus {
        box-shadow: 0 0 1px 0 var(--color-three);
    }
}

.popup-message {
    position        : fixed;
    top             : 3em;
    right           : 1em;
    padding         : 1em;
    background-image: linear-gradient(-25deg, #000000bf, #00000000);
    border-radius   : 8px;

    &.error {
        background-color: var(--color-one);
    }

    &.success {
        background-color: var(--color-four);
    }

    .message {
        color    : var(--bright-white);
        font-size: 1.4em;
    }
}

.loading-indicator {
    position  : fixed;
    top       : 40%;
    left      : 45%;
    width     : 10%;
    display   : inline-block;
    color     : var(--bright-white);
    font-size : 2em;
    text-align: center;
}

.loading-indicator-m {
    color     : var(--bright-white);
    font-size : 2em;
    text-align: center;
    margin    : 0 auto;
}

.logo {
    .logo-text {
        font-family: "Mouse Memoirs", cursive;
        font-size  : 5em;
        color      : var(--bright-white);
    }
}

.page {
    display  : flex;
    flex-flow: column;
    flex-grow: 1;
    max-width: 100%;

    .main {
        display  : flex;
        flex-grow: 1;
        max-width: 100%;
        flex-flow: column;
        padding  : 2em;

        &.welcome {
            .welcome-message {
                color: var(--bright-white);

                h1 {
                    font-weight  : normal;
                    font-size    : 4em;
                    margin-bottom: 0.2em;
                }

                h2 {
                    font-weight  : normal;
                    font-size    : 2em;
                    margin-bottom: 0.2em;
                }

                .note {
                    display    : block;
                    font-weight: normal;
                    font-family: 'Fredoka One', cursive;
                    opacity    : 0.07;
                    transition : opacity 0.3s ease-in;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .login {
                margin-top: 2em;

                .login-button {
                    font-size: 1.4em;
                    padding  : 10px 40px;
                }
            }
        }

        &.game {
            flex-flow: column;

            .register {
                display        : flex;
                justify-content: center;
                flex-grow      : 1;

                .register-inner {
                    align-self: center;
                    margin-top: -10%;
                    display   : flex;
                    flex-flow : column;

                    h1 {
                        font-size  : 3em;
                        color      : var(--bright-white);
                        font-weight: normal;
                    }

                    .buttons {
                        display        : flex;
                        flex-flow      : row;
                        justify-content: space-evenly;
                        flex-basis     : 100%;

                        .register-btn {
                            padding  : 10px 40px;
                            font-size: 1.4em;
                        }

                        .logout-btn {
                            padding         : 10px 40px;
                            font-size       : 1.4em;
                            background-color: var(--color-two);
                        }
                    }
                }
            }

            .topbar {
                display        : flex;
                flex-flow      : row;
                justify-content: space-between;
                margin         : 0 2em 2em 2em;

                .right-side {
                    display  : flex;
                    flex-flow: row;

                    .balance {
                        display    : flex;
                        flex-flow  : column;
                        align-self : center;
                        font-family: 'Fredoka One', cursive;
                        text-shadow: 0 0 4px #000000bf;
                        line-height: 160%;

                        .in-game {
                            color: var(--color-three);
                        }

                        .in-account {
                            color: var(--color-three);
                        }
                    }

                    .account-name {
                        align-self : center;
                        color      : var(--color-eight);
                        font-family: 'Fredoka One', cursive;
                        margin-left: 20px;
                        text-shadow: 0 0 4px #000000bf;
                    }

                    .logout-button {
                        background-color: var(--color-two);
                        font-size       : 0.8em;
                        padding         : 10px 20px;
                        align-self      : center;
                        margin-left     : 20px;
                    }
                }
            }

            .window-ui {
                flex-grow  : 1;
                display    : flex;
                margin     : 0 auto;
                width      : 90%;
                align-items: center;
                flex-flow  : column;

                .center-ui {
                    flex-grow       : 1;
                    width           : 100%;
                    background-color: var(--color-five);
                    border-radius   : 1em;
                    display         : flex;
                    box-shadow      : 0 0 10px 0 #000;

                    .center-ui-inner {
                        flex     : 1;
                        margin   : 4px;
                        padding  : 8px;
                        display  : flex;
                        flex-flow: column;
                        max-width: calc(100% - 28px);

                        .controls {
                            display  : flex;
                            flex-flow: column;
                            padding  : 8px 4px;

                            .controls-inner {
                                align-self: center;
                                display   : flex;
                                flex-flow : row;

                                a {
                                    margin          : 4px 8px;
                                    padding         : 10px 20px;
                                    text-decoration : none;
                                    background-color: var(--color-four);
                                }
                            }
                        }

                        .windows {
                            flex-grow       : 1;
                            display         : flex;
                            flex-flow       : column;
                            box-shadow      : 0 0 11px #000;
                            border-radius   : 12px;
                            padding         : 8px;
                            background-color: #ffffff07;

                            .window {
                                flex-grow: 1;
                                display  : flex;
                                flex-flow: column;

                                .arenas,
                                .crews,
                                .weapons {
                                    h3 {
                                        font-size  : 2em;
                                        padding    : 0 1em;
                                        color      : var(--bright-white);
                                        font-weight: normal;
                                    }

                                    .arena-list,
                                    .crew-list,
                                    .weapon-list {
                                        display        : flex;
                                        flex-flow      : row wrap;
                                        color          : var(--bright-white);
                                        padding        : 8px;
                                        justify-content: space-evenly;

                                        .arena {
                                            display      : flex;
                                            flex-flow    : column;
                                            padding      : 16px;
                                            margin-bottom: 4px;
                                            border-radius: 8px;
                                            cursor       : pointer;

                                            .name {
                                                font-size     : 2em;
                                                padding-bottom: 12px;
                                            }

                                            .cost {
                                                font-family: 'Fredoka One', cursive;
                                            }

                                            .fee {
                                                font-family: 'Fredoka One', cursive;
                                                color      : var(--color-three);
                                            }

                                            &:hover {
                                                box-shadow: 0 0 2px 0 var(--color-three);
                                            }

                                            &.selected {
                                                box-shadow: 0 0 4px 0 var(--color-three);
                                            }

                                            &.disabled {
                                                cursor: not-allowed;

                                                &:hover {
                                                    box-shadow: 0 0 2px 0 var(--color-one);
                                                }

                                                .fee {
                                                    color: var(--dim-white);
                                                }
                                            }
                                        }

                                        .minion,
                                        .weapon {
                                            display      : flex;
                                            flex-flow    : column;
                                            padding      : 16px;
                                            margin-bottom: 4px;
                                            border-radius: 8px;
                                            cursor       : pointer;

                                            img {
                                                max-width: 120px;
                                            }

                                            .name {
                                                font-size  : 1.3em;
                                                padding-top: 12px;
                                                text-align : center;
                                            }

                                            &.selected {
                                                box-shadow: 0 0 4px 0 var(--color-three);
                                            }
                                        }
                                    }
                                }

                                .controls {
                                    .button.enter-battle {
                                        align-self: center;
                                        padding   : 16px;
                                        font-size : 1.2em;
                                    }
                                }

                                .wallet {
                                    display  : flex;
                                    flex-flow: row;
                                    flex-grow: 1;

                                    .deposit,
                                    .withdraw {
                                        flex-grow  : 1;
                                        display    : flex;
                                        flex-flow  : column;
                                        align-items: center;
                                        color      : var(--bright-white);

                                        h3 {
                                            font-weight: normal;
                                            font-size  : 2em;
                                        }

                                        .controls {
                                            display  : flex;
                                            flex-flow: column;

                                            .balance {
                                                font-family  : 'Fredoka One', cursive;
                                                margin-bottom: 12px;
                                                cursor       : pointer;
                                            }

                                            .input {
                                                padding: 12px 4px;
                                            }

                                            .button {
                                                margin-top: 16px;
                                                padding   : 10px 12px;

                                                &.deposit-btn {
                                                    background-color: var(--color-eight);
                                                }

                                                &.withdraw-btn {
                                                    background-color: var(--color-two);
                                                }
                                            }
                                        }
                                    }
                                }

                                .message {
                                    align-items    : center;
                                    color          : var(--color-three);
                                    display        : flex;
                                    flex           : 1;
                                    flex-flow      : column;
                                    font-size      : 2.4em;
                                    justify-content: center;
                                    line-height    : 150%;

                                    .warning {
                                        color     : var(--color-three);
                                        margin    : 8px 4px;
                                        text-align: center;
                                    }

                                    .help {
                                        color     : var(--bright-white);
                                        font-size : 0.8em;
                                        margin    : 8px 4px;
                                        text-align: center;
                                    }

                                    .button {
                                        padding: 12px 24px;

                                        a {
                                            color          : var(--bright-white);
                                            text-decoration: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom-bar {
        color           : var(--dim-white);
        font-family     : sans-serif;
        font-size       : 14px;
        line-height     : 17px;
        padding         : 12px 4%;
        display         : flex;
        flex-flow       : row;
        background-color: rgba(0, 0, 0, 0.2);
        box-shadow      : 0 4px 2px -4px #000 inset;

        .copyright,
        .links,
        .website {
            flex-grow : 1;
            flex-basis: 33%;
        }

        .links,
        .website {
            display        : flex;
            flex-flow      : row;
            justify-content: center;

            .link {
                margin: 0 16px;
            }
        }

        .website {
            justify-content: flex-end;
        }
    }
}

@media screen and (max-width: 720px) {
    .logo {
        text-align: center;

        .logo-text {
            font-size: 4em;
        }
    }

    .popup-message {
        top          : 0em;
        right        : 0em;
        padding      : 0.8em;
        border-radius: 0 0 8px 8px;

        .message {
            font-size : 1.2em;
            text-align: center;
        }
    }

    .page {
        .main {
            &.welcome {
                .welcome-message {
                    h1 {
                        font-size: 3em;
                    }
                }
            }

            &.game {
                padding: 2em 1em;

                .topbar {
                    margin   : 0 0 2em 0;
                    flex-flow: column;

                    .right-side {
                        flex           : 1;
                        justify-content: space-between;
                    }
                }

                .window-ui {
                    .center-ui {
                        .center-ui-inner {
                            .controls {
                                .controls-inner {
                                    a {
                                        margin : 4px;
                                        padding: 8px;
                                    }
                                }
                            }

                            .windows {
                                .window {

                                    .arenas,
                                    .crews,
                                    .weapons {

                                        .arena-list,
                                        .crew-list,
                                        .weapon-list {
                                            .arena {
                                                .name {
                                                    font-size: 1.2em;
                                                }
                                            }

                                            .minion,
                                            .weapon {
                                                padding: 4px;

                                                img {
                                                    max-width: 96px;
                                                }

                                                .name {
                                                    font-size: 1em;
                                                }
                                            }
                                        }
                                    }

                                    .wallet {
                                        flex-flow: column;

                                        .deposit,
                                        .withdraw {
                                            flex-flow    : row;
                                            margin-bottom: 8px;

                                            h3 {
                                                flex: 1;
                                            }
                                        }
                                    }

                                    .message {
                                        .help {
                                            font-size: 0.6em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .bottom-bar {
            flex-direction: column;

            .copyright,
            .links,
            .website {
                padding   : 2px 10px;
                flex-grow : 1;
                flex-basis: 100%;
                text-align: center;
            }
        }
    }
}